.cancel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2a2a2a;
    color: #ffd700;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Fuente elegante */
    text-align: center;
}

.cancel-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.cancel-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    max-width: 80%; /* Limita el ancho del texto para mejorar la legibilidad */
}

.cancel-container button {
    padding: 12px 24px;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para profundidad */
}

.cancel-container button:hover {
    background-color: #e6c200;
    transform: scale(1.05); /* Efecto de ligera ampliación al hacer hover */
}
