/* /styles/roulette/rouletteTable.css */
.roulette-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border: 2px solid #d4af37; /* Borde dorado */
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .table-grid {
    display: grid;
    grid-template-columns: repeat(12, 60px); /* Configura los números en una sola fila */
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .table-cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .red {
    background-color: red;
  }
  
  .black {
    background-color: black;
  }
  
  .green {
    background-color: green;
  }
  
  .table-options {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .bet-option {
    padding: 10px 20px;
    background-color: #d4af37;
    color: #222;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bet-option:hover {
    background-color: #b9972c;
  }
  