/* /styles/roulette/roulette.css */
.roulette-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #d4af37; /* Color dorado */
  min-height: 100vh;
}

.casino-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #d4af37;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d4af37;
  color: #222;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #b9972c;
}
