@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Configuración del contenedor principal */
.home-container {
    background-image: url(https://previews.dropbox.com/p/thumb/ACf_of83oNL43IMnsU26dL05pVFzqsDR3d_2YlevWmQsdwucYz1oi4YJ67hbaGQsIojbX8YkUkavvtcRH4D3bn84JO8Rb8kijOTXdNGuzW4mGTJvFZvVszAtt5wg5QIZdU5YZCSfTmosE4xFrgT7oCET4K0ZLN0BpREgGk6Lemuamav7QLTyah6u7foNKA_HTSnhFyA_5t019RzlNmCsak_fEW3roLnaB8PeBCsxbT8A68QSZdZMELzemws_MEdbBAtqbU1pMsvFhffZdaGQl4h4xIE6KxSNymPnVWGNqU3SVX84vV9tofI54gF5RHmAeZM/p.jpeg); /* Imagen de fondo para el contenedor principal */
    background-size: cover; /* La imagen cubre toda el área del contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo para que no se desplace con el scroll */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    display: flex; /* Utiliza flexbox para organizar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-end; /* Alinea el contenido al final del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
    max-width: 100%; /* Asegura que el contenedor no se desborde */
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Cinzel al texto */
}
