/* Scrollbar personalizada en navegadores basados en Webkit */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #1c1c1c; /* Fondo oscuro para el track de la barra */
  border-radius: 10px; /* Bordes redondeados en el track */
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a; /* Color del pulgar (la parte que se mueve) */
  border-radius: 10px; /* Bordes redondeados en el pulgar */
  border: 2px solid #1c1c1c; /* Borde oscuro alrededor del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a; /* Color del pulgar en hover */
}

/* Configuración de scrollbar para Firefox */
* {
  scrollbar-width: thin; /* Barra de desplazamiento delgada */
  scrollbar-color: #3a3a3a #1c1c1c; /* Color del pulgar y del track en Firefox */
}
